<div class="gp-theprint-row">
    <div class="gp-theprint-featured-posts">
        <!--üst alandaki içerik bannerı-->
        <div class="gp-theprint-articles">
            <!--Üs alandaki banner bölümü son 8 içerik çekilecek-->
            <div class="gp-theprint-featured-post-f featured-post">
                <div class="featured-image">
                    <div class="entry-overlay"></div>
                    <img width="294" height="280" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/182-294x280.jpg" class="attachment-gp-theprint-294x280 size-gp-theprint-294x280 wp-post-image" alt="6 Meat Cocktails That Are Only for The Brave" srcset="http://theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/182-294x280.jpg 294w, http://www.grovepixels.com/demo/theprint/wp-content/uploads/2015/11/182-589x562.jpg 589w" sizes="(max-width: 294px) 100vw, 294px" />
                    <div class="entry-description">
                        <header class="entry-header">
                            <p class="entry-meta-category">
                                <span class="entry-category">
                                    <a href="category/lifestyle/index.html">Lifestyle</a>
                                </span>
                            </p>
                            <h2 class="entry-title">6 Meat Cocktails That Are Only for The Brave</h2>
                        </header>
                    </div>
                    <a class="entry-link" href="2015/11/07/6-meat-coktails-that-are-only-for-the-brave/index.html"></a>
                </div>
            </div>
            <div class="gp-theprint-featured-post-f featured-post">
                <div class="featured-image">
                    <div class="entry-overlay"></div>
                    <img width="294" height="280" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/100-294x280.jpg" class="attachment-gp-theprint-294x280 size-gp-theprint-294x280 wp-post-image" alt="FanDuel and DraftKings Just Lost a Big Payout Provider" srcset="http://theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/100-294x280.jpg 294w, http://www.grovepixels.com/demo/theprint/wp-content/uploads/2015/11/100-589x562.jpg 589w" sizes="(max-width: 294px) 100vw, 294px" />
                    <div class="entry-description">
                        <header class="entry-header">
                            <p class="entry-meta-category">
                                <span class="entry-category">
                                    <a href="category/technology/index.html">Technology</a>
                                </span>
                            </p>
                            <h2 class="entry-title">FanDuel and DraftKings Just Lost a Big Payout Provider</h2>
                        </header>
                    </div>
                    <a class="entry-link" href="2015/11/07/fanduel-and-draftkings-just-lost-a-big-payout-provider/index.html"></a>
                </div>
            </div>
            <div class="gp-theprint-featured-post-f featured-post">
                <div class="featured-image">
                    <div class="entry-overlay"></div>
                    <img width="294" height="280" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/186-294x280.jpg" class="attachment-gp-theprint-294x280 size-gp-theprint-294x280 wp-post-image" alt="Google Wants to Help You Become Solar Powered" srcset="http://theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/186-294x280.jpg 294w, http://www.grovepixels.com/demo/theprint/wp-content/uploads/2015/11/186-589x562.jpg 589w" sizes="(max-width: 294px) 100vw, 294px" />
                    <div class="entry-description">
                        <header class="entry-header">
                            <p class="entry-meta-category">
                                <span class="entry-category">
                                    <a href="category/design/index.html">Design</a>
                                </span>
                            </p>
                            <h2 class="entry-title">Google Wants to Help You Become Solar Powered</h2>
                        </header>
                    </div>
                    <a class="entry-link" href="2015/11/07/google-wants-to-help-you-become-solar-powered/index.html"></a>
                </div>
            </div>
            <div class="gp-theprint-featured-post-f featured-post">
                <div class="featured-image">
                    <div class="entry-overlay"></div>
                    <img width="294" height="280" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/70-1-294x280.jpg" class="attachment-gp-theprint-294x280 size-gp-theprint-294x280 wp-post-image" alt="Emily Ratajkowski Brings the Boots-Over-Jeans Look" srcset="http://theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/70-1-294x280.jpg 294w, http://www.grovepixels.com/demo/theprint/wp-content/uploads/2015/11/70-1-589x562.jpg 589w" sizes="(max-width: 294px) 100vw, 294px" />
                    <div class="entry-description">
                        <header class="entry-header">
                            <p class="entry-meta-category">
                                <span class="entry-category">
                                    <a href="category/fashion/index.html">Fashion</a>
                                </span>
                            </p>
                            <h2 class="entry-title">Emily Ratajkowski Brings the Boots-Over-Jeans Look</h2>
                        </header>
                    </div>
                    <a class="entry-link" href="2015/11/07/emily-ratajkowski-brings-the-boots-over-jeans-look/index.html"></a>
                </div>
            </div>
            <div class="gp-theprint-featured-post-f featured-post">
                <div class="featured-image">
                    <div class="entry-overlay"></div>
                    <img width="294" height="280" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/110-294x280.jpg" class="attachment-gp-theprint-294x280 size-gp-theprint-294x280 wp-post-image" alt="Malibu Reveals 19 Tricks to Having The Best Summer Ever" srcset="http://theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/110-294x280.jpg 294w, http://www.grovepixels.com/demo/theprint/wp-content/uploads/2015/11/110-589x562.jpg 589w" sizes="(max-width: 294px) 100vw, 294px" />
                    <div class="entry-description">
                        <header class="entry-header">
                            <p class="entry-meta-category">
                                <span class="entry-category">
                                    <a href="category/lifestyle/index.html">Lifestyle</a>
                                </span>
                            </p>
                            <h2 class="entry-title">Malibu Reveals 19 Tricks to Having The Best Summer Ever</h2>
                        </header>
                    </div>
                    <a class="entry-link" href="2015/11/07/malibu-reveals-19-tricks-to-having-the-best-summer-ever/index.html"></a>
                </div>
            </div>
            <div class="gp-theprint-featured-post-f featured-post">
                <div class="featured-image">
                    <div class="entry-overlay"></div>
                    <img width="294" height="280" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/1151-294x280.jpg" class="attachment-gp-theprint-294x280 size-gp-theprint-294x280 wp-post-image" alt="Snapchat Challenges Twitter And Facebook For Sports Talk" srcset="http://theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/1151-294x280.jpg 294w, http://www.grovepixels.com/demo/theprint/wp-content/uploads/2015/11/1151-589x562.jpg 589w" sizes="(max-width: 294px) 100vw, 294px" />
                    <div class="entry-description">
                        <header class="entry-header">
                            <p class="entry-meta-category">
                                <span class="entry-category">
                                    <a href="category/technology/index.html">Technology</a>
                                </span>
                            </p>
                            <h2 class="entry-title">Snapchat Challenges Twitter And Facebook For Sports Talk</h2>
                        </header>
                    </div>
                    <a class="entry-link" href="2015/11/07/snapchat-challenges-twitter-and-facebook-for-sports-talk/index.html"></a>
                </div>
            </div>
            <div class="gp-theprint-featured-post-f featured-post">
                <div class="featured-image">
                    <div class="entry-overlay"></div>
                    <img width="294" height="280" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/59-294x280.jpg" class="attachment-gp-theprint-294x280 size-gp-theprint-294x280 wp-post-image" alt="Why Use a Whole Plane When You Can Fly One Wing?" />
                    <div class="entry-description">
                        <header class="entry-header">
                            <p class="entry-meta-category">
                                <span class="entry-category">
                                    <a href="category/lifestyle/index.html">Lifestyle</a>
                                </span>
                            </p>
                            <h2 class="entry-title">Why Use a Whole Plane When You Can Fly One Wing?</h2>
                        </header>
                    </div>
                    <a class="entry-link" href="2015/11/07/why-use-a-whole-plane-when-you-can-fly-one-wing/index.html"></a>
                </div>
            </div>
            <div class="gp-theprint-featured-post-f featured-post">
                <div class="featured-image">
                    <div class="entry-overlay"></div>
                    <img width="294" height="280" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/58-294x280.jpg" class="attachment-gp-theprint-294x280 size-gp-theprint-294x280 wp-post-image" alt="Maroon 5 &#8211; Makes Me Wonder Summer Set" />
                    <div class="entry-description">
                        <header class="entry-header">
                            <p class="entry-meta-category">
                                <span class="entry-category">
                                    <a href="category/music/index.html">Music</a>
                                </span>
                            </p>
                            <h2 class="entry-title">Maroon 5 &#8211; Makes Me Wonder Summer Set</h2>
                        </header>
                    </div>
                    <a class="entry-link" href="2015/11/07/maroon5-make-me-wonder-summer-set/index.html"></a>
                </div>
            </div>
            <!--Üs alandaki banner bölümü son 8 içerik çekilecek-->
        </div>
        <!--üst alandaki içerik bannerı-->
    </div>
</div>
