<div class="gp-theprint-row">
    <div class="gp-theprint-site-main">
        <!--birinci content alanı-->
        <div class="gp-theprint-wrap">
            <!--latest post-->
            <main id="content" class="gp-theprint-content">
                <h4 class="gp-theprint-page-title">
                    <span>Latest Posts</span>
                    <span class="after"></span>
                </h4>
                <div class="gp-theprint-articles front-posts">
                    <article id="post-175" class="gp-theprint-front-post-c front-post post-175 post type-post status-publish format-standard has-post-thumbnail hentry category-fashion tag-fashion tag-staff-post">
                        <div class="featured-image">
                            <a href="2015/12/19/learn-how-to-become-an-influential-leader/index.html">
                                <img width="360" height="260" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/12/129-360x260.jpg" class="attachment-gp-theprint-360x260 size-gp-theprint-360x260 wp-post-image" alt="Learn How to Become an Influential Leader" />
                            </a>
                        </div>
                        <div class="entry-description">
                            <header class="entry-header">
                                <p class="entry-meta-category">
                                    <span class="entry-category">
                                        <a style="border: 1px solid #fd7182; color: #fd7182;" href="category/fashion/index.html">Fashion</a>
                                    </span>
                                </p>
                                <h2 class="entry-title">
                                    <a href="2015/12/19/learn-how-to-become-an-influential-leader/index.html" rel="bookmark">Learn How to Become an Influential Leader</a>
                                </h2>
                            </header>
                            <div class="entry-excerpt">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imperdiet elementum, nunc quam gravida mi, vehicula euismod magna lacus ornare mauris. Proin...</p>
                            </div>
                            <p class="entry-meta">
                                <span class="entry-author vcard author">
                                    <a class="fn" rel="author" href="author/grovepixels/index.html">
                                        <span>Lydia Caldana</span>
                                    </a>
                                </span>
                                <span class="slash"> / </span>
                                <span class="entry-time">
                                    <time class="entry-date published" datetime="2015-12-19T12:00:50+00:00">December 19, 2015</time>
                                </span>
                            </p>
                        </div>
                    </article>
                    <article id="post-172" class="gp-theprint-front-post-c front-post post-172 post type-post status-publish format-standard has-post-thumbnail hentry category-technology">
                        <div class="featured-image">
                            <a href="2015/11/07/mean-girls-the-game-formulas-and-more/index.html">
                                <img width="360" height="260" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/105-360x260.jpg" class="attachment-gp-theprint-360x260 size-gp-theprint-360x260 wp-post-image" alt="Mean Girls: The Game, Formulas and More" />
                            </a>
                        </div>
                        <div class="entry-description">
                            <header class="entry-header">
                                <p class="entry-meta-category">
                                    <span class="entry-category">
                                        <a style="border: 1px solid #689fce; color: #689fce;" href="category/technology/index.html">Technology</a>
                                    </span>
                                </p>
                                <h2 class="entry-title">
                                    <a href="2015/11/07/mean-girls-the-game-formulas-and-more/index.html" rel="bookmark">Mean Girls: The Game, Formulas and More</a>
                                </h2>
                            </header>
                            <div class="entry-excerpt">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imperdiet elementum, nunc quam gravida mi, vehicula euismod magna lacus ornare mauris. Proin...</p>
                            </div>
                            <p class="entry-meta">
                                <span class="entry-author vcard author">
                                    <a class="fn" rel="author" href="author/grovepixels/index.html">
                                        <span>Lydia Caldana</span>
                                    </a>
                                </span>
                                <span class="slash"> / </span>
                                <span class="entry-time">
                                    <time class="entry-date published" datetime="2015-11-07T12:00:06+00:00">November 7, 2015</time>
                                </span>
                            </p>
                        </div>
                    </article>
                    <article id="post-166" class="gp-theprint-front-post-c front-post post-166 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle tag-cocktails tag-featured tag-lifestyle">
                        <div class="featured-image">
                            <a href="2015/11/07/6-meat-coktails-that-are-only-for-the-brave/index.html">
                                <img width="360" height="260" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/182-360x260.jpg" class="attachment-gp-theprint-360x260 size-gp-theprint-360x260 wp-post-image" alt="6 Meat Cocktails That Are Only for The Brave" />
                            </a>
                        </div>
                        <div class="entry-description">
                            <header class="entry-header">
                                <p class="entry-meta-category">
                                    <span class="entry-category">
                                        <a style="border: 1px solid #f5aa01; color: #f5aa01;" href="category/lifestyle/index.html">Lifestyle</a>
                                    </span>
                                </p>
                                <h2 class="entry-title">
                                    <a href="2015/11/07/6-meat-coktails-that-are-only-for-the-brave/index.html" rel="bookmark">6 Meat Cocktails That Are Only for The Brave</a>
                                </h2>
                            </header>
                            <div class="entry-excerpt">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imperdiet elementum, nunc quam gravida mi, vehicula euismod magna lacus ornare mauris. Proin...</p>
                            </div>
                            <p class="entry-meta">
                                <span class="entry-author vcard author">
                                    <a class="fn" rel="author" href="author/grovepixels/index.html">
                                        <span>Lydia Caldana</span>
                                    </a>
                                </span>
                                <span class="slash"> / </span>
                                <span class="entry-time">
                                    <time class="entry-date published" datetime="2015-11-07T11:58:30+00:00">November 7, 2015</time>
                                </span>
                            </p>
                        </div>
                    </article>
                    <article id="post-163" class="gp-theprint-front-post-c front-post post-163 post type-post status-publish format-video has-post-thumbnail hentry category-video tag-animation tag-blue-zoo tag-video post_format-post-format-video">
                        <div class="featured-image">
                            <a href="2015/11/07/more-stuff-blue-zoo-animation/index.html">
                                <img width="360" height="260" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/183-360x260.jpg" class="attachment-gp-theprint-360x260 size-gp-theprint-360x260 wp-post-image" alt="More Stuff by Blue Zoo Animation" />
                                <div class="entry-format">
                                    <i class="fa fa-play"></i>
                                </div>
                            </a>
                        </div>
                        <div class="entry-description">
                            <header class="entry-header">
                                <p class="entry-meta-category">
                                    <span class="entry-category">
                                        <a style="border: 1px solid #44c79d; color: #44c79d;" href="category/video/index.html">Video</a>
                                    </span>
                                </p>
                                <h2 class="entry-title">
                                    <a href="2015/11/07/more-stuff-blue-zoo-animation/index.html" rel="bookmark">More Stuff by Blue Zoo Animation</a>
                                </h2>
                            </header>
                            <div class="entry-excerpt">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imperdiet elementum, nunc quam gravida mi, vehicula euismod magna lacus ornare mauris. Proin...</p>
                            </div>
                            <p class="entry-meta">
                                <span class="entry-author vcard author">
                                    <a class="fn" rel="author" href="author/grovepixels/index.html">
                                        <span>Lydia Caldana</span>
                                    </a>
                                </span>
                                <span class="slash"> / </span>
                                <span class="entry-time">
                                    <time class="entry-date published" datetime="2015-11-07T11:57:24+00:00">November 7, 2015</time>
                                </span>
                            </p>
                        </div>
                    </article>
                    <article id="post-160" class="gp-theprint-front-post-c front-post post-160 post type-post status-publish format-gallery has-post-thumbnail hentry category-technology tag-gallery tag-provider tag-technology post_format-post-format-gallery">
                        <div class="featured-image">
                            <a href="2015/11/07/fanduel-and-draftkings-just-lost-a-big-payout-provider/index.html">
                                <img width="360" height="260" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/100-360x260.jpg" class="attachment-gp-theprint-360x260 size-gp-theprint-360x260 wp-post-image" alt="FanDuel and DraftKings Just Lost a Big Payout Provider" />
                                <div class="entry-format">
                                    <i class="fa fa-picture-o"></i>
                                </div>
                            </a>
                        </div>
                        <div class="entry-description">
                            <header class="entry-header">
                                <p class="entry-meta-category">
                                    <span class="entry-category">
                                        <a style="border: 1px solid #689fce; color: #689fce;" href="category/technology/index.html">Technology</a>
                                    </span>
                                </p>
                                <h2 class="entry-title">
                                    <a href="2015/11/07/fanduel-and-draftkings-just-lost-a-big-payout-provider/index.html" rel="bookmark">FanDuel and DraftKings Just Lost a Big Payout Provider</a>
                                </h2>
                            </header>
                            <div class="entry-excerpt">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imperdiet elementum, nunc quam gravida mi, vehicula euismod magna lacus ornare mauris. Proin...</p>
                            </div>
                            <p class="entry-meta">
                                <span class="entry-author vcard author">
                                    <a class="fn" rel="author" href="author/grovepixels/index.html">
                                        <span>Lydia Caldana</span>
                                    </a>
                                </span>
                                <span class="slash"> / </span>
                                <span class="entry-time">
                                    <time class="entry-date published" datetime="2015-11-07T11:56:31+00:00">November 7, 2015</time>
                                </span>
                            </p>
                        </div>
                    </article>
                    <article id="post-157" class="gp-theprint-front-post-c front-post post-157 post type-post status-publish format-audio has-post-thumbnail hentry category-music tag-bruno-mars tag-music tag-youtube post_format-post-format-audio">
                        <div class="featured-image">
                            <a href="2015/11/07/bruno-mars-just-the-way-you-are/index.html">
                                <img width="360" height="260" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/188-360x260.jpg" class="attachment-gp-theprint-360x260 size-gp-theprint-360x260 wp-post-image" alt="Bruno Mars &#8211; Just The Way You Are" />
                                <div class="entry-format">
                                    <i class="fa fa-headphones"></i>
                                </div>
                            </a>
                        </div>
                        <div class="entry-description">
                            <header class="entry-header">
                                <p class="entry-meta-category">
                                    <span class="entry-category">
                                        <a style="border: 1px solid #e6a87a; color: #e6a87a;" href="category/music/index.html">Music</a>
                                    </span>
                                </p>
                                <h2 class="entry-title">
                                    <a href="2015/11/07/bruno-mars-just-the-way-you-are/index.html" rel="bookmark">Bruno Mars &#8211; Just The Way You Are</a>
                                </h2>
                            </header>
                            <div class="entry-excerpt">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imperdiet elementum, nunc quam gravida mi, vehicula euismod magna lacus ornare mauris. Proin...</p>
                            </div>
                            <p class="entry-meta">
                                <span class="entry-author vcard author">
                                    <a class="fn" rel="author" href="author/grovepixels/index.html">
                                        <span>Lydia Caldana</span>
                                    </a>
                                </span>
                                <span class="slash"> / </span>
                                <span class="entry-time">
                                    <time class="entry-date published" datetime="2015-11-07T11:55:56+00:00">November 7, 2015</time>
                                </span>
                            </p>
                        </div>
                    </article>
                    <article id="post-154" class="gp-theprint-front-post-c front-post post-154 post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-design tag-google tag-solar-powered">
                        <div class="featured-image">
                            <a href="2015/11/07/google-wants-to-help-you-become-solar-powered/index.html">
                                <img width="360" height="260" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/186-360x260.jpg" class="attachment-gp-theprint-360x260 size-gp-theprint-360x260 wp-post-image" alt="Google Wants to Help You Become Solar Powered" />
                            </a>
                        </div>
                        <div class="entry-description">
                            <header class="entry-header">
                                <p class="entry-meta-category">
                                    <span class="entry-category">
                                        <a style="border: 1px solid #62c538; color: #62c538;" href="category/design/index.html">Design</a>
                                    </span>
                                </p>
                                <h2 class="entry-title">
                                    <a href="2015/11/07/google-wants-to-help-you-become-solar-powered/index.html" rel="bookmark">Google Wants to Help You Become Solar Powered</a>
                                </h2>
                            </header>
                            <div class="entry-excerpt">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imperdiet elementum, nunc quam gravida mi, vehicula euismod magna lacus ornare mauris. Proin...</p>
                            </div>
                            <p class="entry-meta">
                                <span class="entry-author vcard author">
                                    <a class="fn" rel="author" href="author/grovepixels/index.html">
                                        <span>Lydia Caldana</span>
                                    </a>
                                </span>
                                <span class="slash"> / </span>
                                <span class="entry-time">
                                    <time class="entry-date published" datetime="2015-11-07T11:55:22+00:00">November 7, 2015</time>
                                </span>
                            </p>
                        </div>
                    </article>
                    <article id="post-151" class="gp-theprint-front-post-c front-post post-151 post type-post status-publish format-standard has-post-thumbnail hentry category-photography tag-blizzard tag-nyc tag-painting tag-photography">
                        <div class="featured-image">
                            <a href="2015/11/07/the-nyc-blizzard-looks-like-a-painting/index.html">
                                <img width="360" height="260" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/108-360x260.jpg" class="attachment-gp-theprint-360x260 size-gp-theprint-360x260 wp-post-image" alt="The NYC Blizzard Looks Like a Painting" />
                            </a>
                        </div>
                        <div class="entry-description">
                            <header class="entry-header">
                                <p class="entry-meta-category">
                                    <span class="entry-category">
                                        <a style="border: 1px solid #ca85ca; color: #ca85ca;" href="category/photography/index.html">Photography</a>
                                    </span>
                                </p>
                                <h2 class="entry-title">
                                    <a href="2015/11/07/the-nyc-blizzard-looks-like-a-painting/index.html" rel="bookmark">The NYC Blizzard Looks Like a Painting</a>
                                </h2>
                            </header>
                            <div class="entry-excerpt">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imperdiet elementum, nunc quam gravida mi, vehicula euismod magna lacus ornare mauris. Proin...</p>
                            </div>
                            <p class="entry-meta">
                                <span class="entry-author vcard author">
                                    <a class="fn" rel="author" href="author/grovepixels/index.html">
                                        <span>Lydia Caldana</span>
                                    </a>
                                </span>
                                <span class="slash"> / </span>
                                <span class="entry-time">
                                    <time class="entry-date published" datetime="2015-11-07T11:53:46+00:00">November 7, 2015</time>
                                </span>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="gp-theprint-pagination hide">
                    <span class='page-numbers current'>1</span>
                    <a class='page-numbers' href='page/2/index.html'>2</a>
                    <a class='page-numbers' href='page/3/index.html'>3</a>
                    <span class="page-numbers dots">&hellip;</span>
                    <a class='page-numbers' href='page/7/index.html'>7</a>
                    <a class="next page-numbers" href="page/2/index.html">Next  &rarr;</a>
                </div>
                <div class="gp-theprint-loading-text"></div>
                <div class="gp-theprint-ajax-loading-button">
                    <h5>
                        <a id="gp-theprint-infinite-trigger" href="#">Load More Stories</a>
                    </h5>
                </div>
                <div class="gp-theprint-homepage-widget-area-1">
                    <div id="gp_theprint_homepage_1_posts_a-1" class="gp-theprint-widget gp-theprint-homepage-1-posts-a">
                        <h4 class="gp-theprint-widget-title">
                            <span style="background-color: ;">
                                <a href="category/technology/index.html">Technology</a>
                            </span>
                        </h4>
                        <ul>
                            <li class="gp-theprint-homepage-1-post-a style-a">
                                <div class="featured-image">
                                    <a href="2015/11/07/mean-girls-the-game-formulas-and-more/index.html">
                                        <img width="355" height="220" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/105-355x220.jpg" class="attachment-gp-theprint-355x220 size-gp-theprint-355x220 wp-post-image" alt="Mean Girls: The Game, Formulas and More" />
                                    </a>
                                </div>
                                <header class="entry-header">
                                    <h5 class="entry-title">
                                        <a href="2015/11/07/mean-girls-the-game-formulas-and-more/index.html" rel="bookmark">Mean Girls: The Game, Formulas and More</a>
                                    </h5>
                                    <p class="entry-meta">
                                        <span class="entry-time">
                                            <time class="entry-date published" datetime="2015-11-07T12:00:06+00:00">November 7, 2015</time>
                                        </span>
                                    </p>
                                </header>
                            </li>
                            <li class="gp-theprint-homepage-1-post-a style-a">
                                <div class="featured-image">
                                    <a href="2015/11/07/fanduel-and-draftkings-just-lost-a-big-payout-provider/index.html">
                                        <img width="355" height="220" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/100-355x220.jpg" class="attachment-gp-theprint-355x220 size-gp-theprint-355x220 wp-post-image" alt="FanDuel and DraftKings Just Lost a Big Payout Provider" />
                                        <div class="entry-format">
                                            <i class="fa fa-picture-o"></i>
                                        </div>
                                    </a>
                                </div>
                                <header class="entry-header">
                                    <h5 class="entry-title">
                                        <a href="2015/11/07/fanduel-and-draftkings-just-lost-a-big-payout-provider/index.html" rel="bookmark">FanDuel and DraftKings Just Lost a Big Payout Provider</a>
                                    </h5>
                                    <p class="entry-meta">
                                        <span class="entry-time">
                                            <time class="entry-date published" datetime="2015-11-07T11:56:31+00:00">November 7, 2015</time>
                                        </span>
                                    </p>
                                </header>
                            </li>
                            <li class="gp-theprint-homepage-1-post-a style-b">
                                <div class="featured-image">
                                    <a href="2015/11/07/why-apples-iphone-event-needs-a-huge-venue/index.html">
                                        <img width="355" height="220" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/64-355x220.jpg" class="attachment-gp-theprint-355x220 size-gp-theprint-355x220 wp-post-image" alt="Why Apple’s iPhone Event Needs a Huge Venue" />
                                    </a>
                                </div>
                                <header class="entry-header">
                                    <h5 class="entry-title">
                                        <a href="2015/11/07/why-apples-iphone-event-needs-a-huge-venue/index.html" rel="bookmark">Why Apple’s iPhone Event Needs a Huge Venue</a>
                                    </h5>
                                    <p class="entry-meta">
                                        <span class="entry-time">
                                            <time class="entry-date published" datetime="2015-11-07T11:48:05+00:00">November 7, 2015</time>
                                        </span>
                                    </p>
                                </header>
                            </li>
                            <li class="gp-theprint-homepage-1-post-a style-b">
                                <div class="featured-image">
                                    <a href="2015/11/07/snapchat-challenges-twitter-and-facebook-for-sports-talk/index.html">
                                        <img width="355" height="220" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/1151-355x220.jpg" class="attachment-gp-theprint-355x220 size-gp-theprint-355x220 wp-post-image" alt="Snapchat Challenges Twitter And Facebook For Sports Talk" />
                                    </a>
                                </div>
                                <header class="entry-header">
                                    <h5 class="entry-title">
                                        <a href="2015/11/07/snapchat-challenges-twitter-and-facebook-for-sports-talk/index.html" rel="bookmark">Snapchat Challenges Twitter And Facebook For Sports Talk</a>
                                    </h5>
                                    <p class="entry-meta">
                                        <span class="entry-time">
                                            <time class="entry-date published" datetime="2015-11-07T11:38:35+00:00">November 7, 2015</time>
                                        </span>
                                    </p>
                                </header>
                            </li>
                            <li class="gp-theprint-homepage-1-post-a style-b">
                                <div class="featured-image">
                                    <a href="2015/11/07/xbox-one-controller-is-designed-with-esports-in-mind/index.html">
                                        <img width="355" height="220" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/113-355x220.jpg" class="attachment-gp-theprint-355x220 size-gp-theprint-355x220 wp-post-image" alt="Xbox One Controller is Designed with Esports in Mind" />
                                    </a>
                                </div>
                                <header class="entry-header">
                                    <h5 class="entry-title">
                                        <a href="2015/11/07/xbox-one-controller-is-designed-with-esports-in-mind/index.html" rel="bookmark">Xbox One Controller is Designed with Esports in Mind</a>
                                    </h5>
                                    <p class="entry-meta">
                                        <span class="entry-time">
                                            <time class="entry-date published" datetime="2015-11-07T11:15:17+00:00">November 7, 2015</time>
                                        </span>
                                    </p>
                                </header>
                            </li>
                        </ul>
                    </div>
                    <div id="gp_theprint_homepage_1_posts_c-1" class="gp-theprint-widget gp-theprint-homepage-1-posts-c">
                        <div class="gp-theprint-columns">
                            <div class="gp-theprint-column-1">
                                <h4 class="gp-theprint-widget-title">
                                    <span style="background-color: ;">
                                        <a href="category/fashion/index.html">Fashion</a>
                                    </span>
                                </h4>
                                <ul>
                                    <li class="gp-theprint-homepage-1-post-c style-a">
                                        <div class="featured-image">
                                            <a href="2015/12/19/learn-how-to-become-an-influential-leader/index.html">
                                                <img width="355" height="220" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/12/129-355x220.jpg" class="attachment-gp-theprint-355x220 size-gp-theprint-355x220 wp-post-image" alt="Learn How to Become an Influential Leader" />
                                            </a>
                                        </div>
                                        <header class="entry-header">
                                            <h5 class="entry-title">
                                                <a href="2015/12/19/learn-how-to-become-an-influential-leader/index.html" rel="bookmark">Learn How to Become an Influential Leader</a>
                                            </h5>
                                            <p class="entry-meta">
                                                <span class="entry-time">
                                                    <time class="entry-date published" datetime="2015-12-19T12:00:50+00:00">December 19, 2015</time>
                                                </span>
                                            </p>
                                        </header>
                                    </li>
                                    <li class="gp-theprint-homepage-1-post-c style-b">
                                        <div class="featured-image">
                                            <a href="2015/11/07/why-dxomark-does-not-test-fujifilm-cameras/index.html">
                                                <img width="110" height="85" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/187-110x85.jpg" class="attachment-gp-theprint-110x85 size-gp-theprint-110x85 wp-post-image" alt="Why DxOMark Does Not Test Fujifilm Cameras" />
                                            </a>
                                        </div>
                                        <header class="entry-header">
                                            <h5 class="entry-title">
                                                <a href="2015/11/07/why-dxomark-does-not-test-fujifilm-cameras/index.html" rel="bookmark">Why DxOMark Does Not Test Fujifilm Cameras</a>
                                            </h5>
                                            <p class="entry-meta">
                                                <span class="entry-time">
                                                    <time class="entry-date published" datetime="2015-11-07T11:51:07+00:00">November 7, 2015</time>
                                                </span>
                                            </p>
                                        </header>
                                    </li>
                                    <li class="gp-theprint-homepage-1-post-c style-b">
                                        <div class="featured-image">
                                            <a href="2015/11/07/an-artisanal-ice-cream-shop-in-venice-beach/index.html">
                                                <img width="110" height="85" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/189-110x85.jpg" class="attachment-gp-theprint-110x85 size-gp-theprint-110x85 wp-post-image" alt="An Artisanal Ice Cream Shop in Venice Beach" />
                                            </a>
                                        </div>
                                        <header class="entry-header">
                                            <h5 class="entry-title">
                                                <a href="2015/11/07/an-artisanal-ice-cream-shop-in-venice-beach/index.html" rel="bookmark">An Artisanal Ice Cream Shop in Venice Beach</a>
                                            </h5>
                                            <p class="entry-meta">
                                                <span class="entry-time">
                                                    <time class="entry-date published" datetime="2015-11-07T11:49:44+00:00">November 7, 2015</time>
                                                </span>
                                            </p>
                                        </header>
                                    </li>
                                </ul>
                            </div>
                            <div class="gp-theprint-column-2">
                                <h4 class="gp-theprint-widget-title">
                                    <span style="background-color: ;">
                                        <a href="category/design/index.html">Photography</a>
                                    </span>
                                </h4>
                                <ul>
                                    <li class="gp-theprint-homepage-1-post-c style-a">
                                        <div class="featured-image">
                                            <a href="2015/11/07/google-wants-to-help-you-become-solar-powered/index.html">
                                                <img width="355" height="220" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/186-355x220.jpg" class="attachment-gp-theprint-355x220 size-gp-theprint-355x220 wp-post-image" alt="Google Wants to Help You Become Solar Powered" />
                                            </a>
                                        </div>
                                        <header class="entry-header">
                                            <h5 class="entry-title">
                                                <a href="2015/11/07/google-wants-to-help-you-become-solar-powered/index.html" rel="bookmark">Google Wants to Help You Become Solar Powered</a>
                                            </h5>
                                            <p class="entry-meta">
                                                <span class="entry-time">
                                                    <time class="entry-date published" datetime="2015-11-07T11:55:22+00:00">November 7, 2015</time>
                                                </span>
                                            </p>
                                        </header>
                                    </li>
                                    <li class="gp-theprint-homepage-1-post-c style-b">
                                        <div class="featured-image">
                                            <a href="2015/11/07/awesome-new-activity-tracker-designed-for-people/index.html">
                                                <img width="110" height="85" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/261-110x85.jpg" class="attachment-gp-theprint-110x85 size-gp-theprint-110x85 wp-post-image" alt="Awesome New Activity Tracker Designed for People" />
                                            </a>
                                        </div>
                                        <header class="entry-header">
                                            <h5 class="entry-title">
                                                <a href="2015/11/07/awesome-new-activity-tracker-designed-for-people/index.html" rel="bookmark">Awesome New Activity Tracker Designed for People</a>
                                            </h5>
                                            <p class="entry-meta">
                                                <span class="entry-time">
                                                    <time class="entry-date published" datetime="2015-11-07T11:44:46+00:00">November 7, 2015</time>
                                                </span>
                                            </p>
                                        </header>
                                    </li>
                                    <li class="gp-theprint-homepage-1-post-c style-b">
                                        <div class="featured-image">
                                            <a href="2015/11/07/why-millennials-arent-forming-new-households/index.html">
                                                <img width="110" height="85" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/103-110x85.jpg" class="attachment-gp-theprint-110x85 size-gp-theprint-110x85 wp-post-image" alt="Why Millennials Aren’t Forming New Households" />
                                            </a>
                                        </div>
                                        <header class="entry-header">
                                            <h5 class="entry-title">
                                                <a href="2015/11/07/why-millennials-arent-forming-new-households/index.html" rel="bookmark">Why Millennials Aren’t Forming New Households</a>
                                            </h5>
                                            <p class="entry-meta">
                                                <span class="entry-time">
                                                    <time class="entry-date published" datetime="2015-11-07T11:11:01+00:00">November 7, 2015</time>
                                                </span>
                                            </p>
                                        </header>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!--latest post-->
            <!--side bar -->
            <aside class="gp-theprint-sidebar sticky-sidebar" itemscope itemtype="http://schema.org/WPSideBar">
                <!--Reklam alanı-->
                <div id="text-2" class="gp-theprint-widget widget_text">
                    <div class="textwidget">
                        <a href="#">
                            <img src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/ad.jpg" alt="ad-2" />
                        </a>
                    </div>
                </div>
                <!--Reklam alanı-->
                <!--newsletter alanı-->
                <div id="gp_theprint_newsletter_widget-1" class="gp-theprint-widget gp-theprint-newsletter-widget">
                    <h4 class="gp-theprint-widget-title">
                        <span style="background-color: ;"> Newsletter Form </span>
                    </h4>
                    <div class="gp-theprint-newsletter-widget">
                        <p>Explain to people why people should signup to your newsletter. Be as concise as possible, and very convincing.</p>
                        <form action="http://grovepixels.us8.list-manage.com/subscribe/post?u=f1565532d8cf66667f0c7503d&amp;id=777c9eb187" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <input type="email" value="Email address" name="EMAIL" class="required email" id="mce-EMAIL">
                            <input type="text" value="First name" name="FNAME" class="" id="mce-FNAME">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                        </form>
                        <span class="guarantee">100% Privacy. I will never spam you.</span>
                    </div>
                </div>
                <!--newsletter alanı-->
                <!--Son yayınlananlar resimsiz-->
                <div id="gp_theprint_recent_posts_f-1" class="gp-theprint-widget gp-theprint-recent-posts-f">
                    <h4 class="gp-theprint-widget-title">
                        <span style="background-color: ;"> Recent Posts </span>
                    </h4>
                    <ul>
                        <li class="gp-theprint-recent-post-f">
                            <div class="entry-counter">
                                <span>1.</span>
                            </div>
                            <div class="entry-header">
                                <h5 class="entry-title">
                                    <a href="2015/12/19/learn-how-to-become-an-influential-leader/index.html" rel="bookmark">Learn How to Become an Influential Leader</a>
                                </h5>
                                <p class="entry-meta">
                                    <span class="entry-time">
                                        <time class="entry-date published" datetime="2015-12-19T12:00:50+00:00">December 19, 2015</time>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="gp-theprint-recent-post-f">
                            <div class="entry-counter">
                                <span>2.</span>
                            </div>
                            <div class="entry-header">
                                <h5 class="entry-title">
                                    <a href="2015/11/07/mean-girls-the-game-formulas-and-more/index.html" rel="bookmark">Mean Girls: The Game, Formulas and More</a>
                                </h5>
                                <p class="entry-meta">
                                    <span class="entry-time">
                                        <time class="entry-date published" datetime="2015-11-07T12:00:06+00:00">November 7, 2015</time>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="gp-theprint-recent-post-f">
                            <div class="entry-counter">
                                <span>3.</span>
                            </div>
                            <div class="entry-header">
                                <h5 class="entry-title">
                                    <a href="2015/11/07/6-meat-coktails-that-are-only-for-the-brave/index.html" rel="bookmark">6 Meat Cocktails That Are Only for The Brave</a>
                                </h5>
                                <p class="entry-meta">
                                    <span class="entry-time">
                                        <time class="entry-date published" datetime="2015-11-07T11:58:30+00:00">November 7, 2015</time>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="gp-theprint-recent-post-f">
                            <div class="entry-counter">
                                <span>4.</span>
                            </div>
                            <div class="entry-header">
                                <h5 class="entry-title">
                                    <a href="2015/11/07/more-stuff-blue-zoo-animation/index.html" rel="bookmark">More Stuff by Blue Zoo Animation</a>
                                </h5>
                                <p class="entry-meta">
                                    <span class="entry-time">
                                        <time class="entry-date published" datetime="2015-11-07T11:57:24+00:00">November 7, 2015</time>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="gp-theprint-recent-post-f">
                            <div class="entry-counter">
                                <span>5.</span>
                            </div>
                            <div class="entry-header">
                                <h5 class="entry-title">
                                    <a href="2015/11/07/fanduel-and-draftkings-just-lost-a-big-payout-provider/index.html" rel="bookmark">FanDuel and DraftKings Just Lost a Big Payout Provider</a>
                                </h5>
                                <p class="entry-meta">
                                    <span class="entry-time">
                                        <time class="entry-date published" datetime="2015-11-07T11:56:31+00:00">November 7, 2015</time>
                                    </span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--Son yayınlananlar-->
                <!--Son yayınlananlar resimli-->
                <div id="gp_theprint_recent_posts_a-1" class="gp-theprint-widget gp-theprint-recent-posts-a">
                    <h4 class="gp-theprint-widget-title">
                        <span style="background-color:#fd7182 ;"> Recent Posts </span>
                    </h4>
                    <ul>
                        <li class="gp-theprint-recent-post-a">
                            <div class="featured-image">
                                <a href="2015/12/19/learn-how-to-become-an-influential-leader/index.html">
                                    <img width="110" height="85" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/12/129-110x85.jpg" class="attachment-gp-theprint-110x85 size-gp-theprint-110x85 wp-post-image" alt="Learn How to Become an Influential Leader" />
                                </a>
                            </div>
                            <div class="entry-header">
                                <h5 class="entry-title">
                                    <a href="2015/12/19/learn-how-to-become-an-influential-leader/index.html" rel="bookmark">Learn How to Become an Influential Leader</a>
                                </h5>
                                <p class="entry-meta">
                                    <span class="entry-time">
                                        <time class="entry-date published" datetime="2015-12-19T12:00:50+00:00">December 19, 2015</time>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="gp-theprint-recent-post-a">
                            <div class="featured-image">
                                <a href="2015/11/07/mean-girls-the-game-formulas-and-more/index.html">
                                    <img width="110" height="85" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/105-110x85.jpg" class="attachment-gp-theprint-110x85 size-gp-theprint-110x85 wp-post-image" alt="Mean Girls: The Game, Formulas and More" />
                                </a>
                            </div>
                            <div class="entry-header">
                                <h5 class="entry-title">
                                    <a href="2015/11/07/mean-girls-the-game-formulas-and-more/index.html" rel="bookmark">Mean Girls: The Game, Formulas and More</a>
                                </h5>
                                <p class="entry-meta">
                                    <span class="entry-time">
                                        <time class="entry-date published" datetime="2015-11-07T12:00:06+00:00">November 7, 2015</time>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="gp-theprint-recent-post-a">
                            <div class="featured-image">
                                <a href="2015/11/07/6-meat-coktails-that-are-only-for-the-brave/index.html">
                                    <img width="110" height="85" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/182-110x85.jpg" class="attachment-gp-theprint-110x85 size-gp-theprint-110x85 wp-post-image" alt="6 Meat Cocktails That Are Only for The Brave" />
                                </a>
                            </div>
                            <div class="entry-header">
                                <h5 class="entry-title">
                                    <a href="2015/11/07/6-meat-coktails-that-are-only-for-the-brave/index.html" rel="bookmark">6 Meat Cocktails That Are Only for The Brave</a>
                                </h5>
                                <p class="entry-meta">
                                    <span class="entry-time">
                                        <time class="entry-date published" datetime="2015-11-07T11:58:30+00:00">November 7, 2015</time>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="gp-theprint-recent-post-a">
                            <div class="featured-image">
                                <a href="2015/11/07/more-stuff-blue-zoo-animation/index.html">
                                    <img width="110" height="85" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/183-110x85.jpg" class="attachment-gp-theprint-110x85 size-gp-theprint-110x85 wp-post-image" alt="More Stuff by Blue Zoo Animation" />
                                    <div class="entry-format-small">
                                        <i class="fa fa-play"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="entry-header">
                                <h5 class="entry-title">
                                    <a href="2015/11/07/more-stuff-blue-zoo-animation/index.html" rel="bookmark">More Stuff by Blue Zoo Animation</a>
                                </h5>
                                <p class="entry-meta">
                                    <span class="entry-time">
                                        <time class="entry-date published" datetime="2015-11-07T11:57:24+00:00">November 7, 2015</time>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="gp-theprint-recent-post-a">
                            <div class="featured-image">
                                <a href="2015/11/07/fanduel-and-draftkings-just-lost-a-big-payout-provider/index.html">
                                    <img width="110" height="85" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/100-110x85.jpg" class="attachment-gp-theprint-110x85 size-gp-theprint-110x85 wp-post-image" alt="FanDuel and DraftKings Just Lost a Big Payout Provider" />
                                    <div class="entry-format-small">
                                        <i class="fa fa-picture-o"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="entry-header">
                                <h5 class="entry-title">
                                    <a href="2015/11/07/fanduel-and-draftkings-just-lost-a-big-payout-provider/index.html" rel="bookmark">FanDuel and DraftKings Just Lost a Big Payout Provider</a>
                                </h5>
                                <p class="entry-meta">
                                    <span class="entry-time">
                                        <time class="entry-date published" datetime="2015-11-07T11:56:31+00:00">November 7, 2015</time>
                                    </span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--Son yayınlananlar resimli-->
            </aside>
            <!--side bar -->
        </div>
        <!--birinci content alanı-->
        <!--Subscribe alanı-->
        <div class="gp-theprint-homepage-newsletter">
            <div class="gp-theprint-wrap">
                <div class="newsletter-content">
                    <h4>Subscribe Our Newsletter</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imperdiet elementum, nunc quam gravida mi, vehicula euismod magna lacus ornare mauris.</p>
                    <form action="http://grovepixels.us8.list-manage.com/subscribe/post?u=f1565532d8cf66667f0c7503d&amp;id=777c9eb187" method="post" id="home-mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <input type="email" value="Email address" name="EMAIL" class="required email" id="home-mce-EMAIL">
                        <input type="submit" value="Subscribe" name="subscribe" id="home-mc-embedded-subscribe" class="button">
                    </form>
                    <span>100% I will not spam you.</span>
                </div>
                <div class="newsletter-image" style="background-image: url('../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/105.jpg');"></div>
                <div class="newsletter-overlay"></div>
            </div>
        </div>
        <!--Subscribe alanı-->
        <!--ikinci content alanı-->
        <div class="gp-theprint-wrap">
            <div id="content-2" class="gp-theprint-content">
                <div class="gp-theprint-homepage-widget-area-2">
                    <!--Son postlar-->
                    <div id="gp_theprint_homepage_2_posts_b-1" class="gp-theprint-widget gp-theprint-homepage-2-posts-b">
                        <h4 class="gp-theprint-widget-title">
                            <span style="background-color: ;"> Recent Posts </span>
                        </h4>
                        <ul>
                            <li class="gp-theprint-homepage-2-post-b">
                                <div class="featured-image">
                                    <div class="entry-overlay"></div>
                                    <img width="360" height="260" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/12/129-360x260.jpg" class="attachment-gp-theprint-360x260 size-gp-theprint-360x260 wp-post-image" alt="Learn How to Become an Influential Leader" />
                                    <div class="entry-description">
                                        <header class="entry-header">
                                            <h5 class="entry-title">
                                                <a href="2015/12/19/learn-how-to-become-an-influential-leader/index.html" rel="bookmark">Learn How to Become an Influential Leader</a>
                                            </h5>
                                            <p class="entry-meta">
                                                <span class="entry-time">
                                                    <time class="entry-date published" datetime="2015-12-19T12:00:50+00:00">December 19, 2015</time>
                                                </span>
                                            </p>
                                        </header>
                                    </div>
                                    <a class="entry-link" href="2015/12/19/learn-how-to-become-an-influential-leader/index.html"></a>
                                </div>
                            </li>
                            <li class="gp-theprint-homepage-2-post-b">
                                <div class="featured-image">
                                    <div class="entry-overlay"></div>
                                    <img width="360" height="260" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/105-360x260.jpg" class="attachment-gp-theprint-360x260 size-gp-theprint-360x260 wp-post-image" alt="Mean Girls: The Game, Formulas and More" />
                                    <div class="entry-description">
                                        <header class="entry-header">
                                            <h5 class="entry-title">
                                                <a href="2015/11/07/mean-girls-the-game-formulas-and-more/index.html" rel="bookmark">Mean Girls: The Game, Formulas and More</a>
                                            </h5>
                                            <p class="entry-meta">
                                                <span class="entry-time">
                                                    <time class="entry-date published" datetime="2015-11-07T12:00:06+00:00">November 7, 2015</time>
                                                </span>
                                            </p>
                                        </header>
                                    </div>
                                    <a class="entry-link" href="2015/11/07/mean-girls-the-game-formulas-and-more/index.html"></a>
                                </div>
                            </li>
                            <li class="gp-theprint-homepage-2-post-b">
                                <div class="featured-image">
                                    <div class="entry-overlay"></div>
                                    <img width="360" height="260" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/182-360x260.jpg" class="attachment-gp-theprint-360x260 size-gp-theprint-360x260 wp-post-image" alt="6 Meat Cocktails That Are Only for The Brave" />
                                    <div class="entry-description">
                                        <header class="entry-header">
                                            <h5 class="entry-title">
                                                <a href="2015/11/07/6-meat-coktails-that-are-only-for-the-brave/index.html" rel="bookmark">6 Meat Cocktails That Are Only for The Brave</a>
                                            </h5>
                                            <p class="entry-meta">
                                                <span class="entry-time">
                                                    <time class="entry-date published" datetime="2015-11-07T11:58:30+00:00">November 7, 2015</time>
                                                </span>
                                            </p>
                                        </header>
                                    </div>
                                    <a class="entry-link" href="2015/11/07/6-meat-coktails-that-are-only-for-the-brave/index.html"></a>
                                </div>
                            </li>
                            <li class="gp-theprint-homepage-2-post-b">
                                <div class="featured-image">
                                    <div class="entry-overlay"></div>
                                    <img width="360" height="260" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/183-360x260.jpg" class="attachment-gp-theprint-360x260 size-gp-theprint-360x260 wp-post-image" alt="More Stuff by Blue Zoo Animation" />
                                    <div class="entry-format">
                                        <i class="fa fa-play"></i>
                                    </div>
                                    <div class="entry-description">
                                        <header class="entry-header">
                                            <h5 class="entry-title">
                                                <a href="2015/11/07/more-stuff-blue-zoo-animation/index.html" rel="bookmark">More Stuff by Blue Zoo Animation</a>
                                            </h5>
                                            <p class="entry-meta">
                                                <span class="entry-time">
                                                    <time class="entry-date published" datetime="2015-11-07T11:57:24+00:00">November 7, 2015</time>
                                                </span>
                                            </p>
                                        </header>
                                    </div>
                                    <a class="entry-link" href="2015/11/07/more-stuff-blue-zoo-animation/index.html"></a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!--Son postlar-->
                    <!--video &lifestyle-->
                    <div id="gp_theprint_homepage_2_posts_c-1" class="gp-theprint-widget gp-theprint-homepage-2-posts-c">
                        <div class="gp-theprint-columns">
                            <!--Videolar-->
                            <div class="gp-theprint-column-1">
                                <h4 class="gp-theprint-widget-title">
                                    <span style="background-color: ;">
                                        <a href="category/technology/index.html">Video</a>
                                    </span>
                                </h4>
                                <ul>
                                    <li class="gp-theprint-homepage-2-post-c style-a">
                                        <div class="featured-image">
                                            <a href="2015/11/07/mean-girls-the-game-formulas-and-more/index.html">
                                                <img width="355" height="220" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/105-355x220.jpg" class="attachment-gp-theprint-355x220 size-gp-theprint-355x220 wp-post-image" alt="Mean Girls: The Game, Formulas and More" />
                                            </a>
                                        </div>
                                        <header class="entry-header">
                                            <h5 class="entry-title">
                                                <a href="2015/11/07/mean-girls-the-game-formulas-and-more/index.html" rel="bookmark">Mean Girls: The Game, Formulas and More</a>
                                            </h5>
                                            <p class="entry-meta">
                                                <span class="entry-time">
                                                    <time class="entry-date published" datetime="2015-11-07T12:00:06+00:00">November 7, 2015</time>
                                                </span>
                                            </p>
                                        </header>
                                    </li>
                                    <li class="gp-theprint-homepage-2-post-c style-b">
                                        <div class="featured-image">
                                            <a href="2015/11/07/fanduel-and-draftkings-just-lost-a-big-payout-provider/index.html">
                                                <img width="110" height="85" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/100-110x85.jpg" class="attachment-gp-theprint-110x85 size-gp-theprint-110x85 wp-post-image" alt="FanDuel and DraftKings Just Lost a Big Payout Provider" />
                                                <div class="entry-format-small">
                                                    <i class="fa fa-picture-o"></i>
                                                </div>
                                            </a>
                                        </div>
                                        <header class="entry-header">
                                            <h5 class="entry-title">
                                                <a href="2015/11/07/fanduel-and-draftkings-just-lost-a-big-payout-provider/index.html" rel="bookmark">FanDuel and DraftKings Just Lost a Big Payout Provider</a>
                                            </h5>
                                            <p class="entry-meta">
                                                <span class="entry-time">
                                                    <time class="entry-date published" datetime="2015-11-07T11:56:31+00:00">November 7, 2015</time>
                                                </span>
                                            </p>
                                        </header>
                                    </li>
                                    <li class="gp-theprint-homepage-2-post-c style-b">
                                        <div class="featured-image">
                                            <a href="2015/11/07/why-apples-iphone-event-needs-a-huge-venue/index.html">
                                                <img width="110" height="85" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/64-110x85.jpg" class="attachment-gp-theprint-110x85 size-gp-theprint-110x85 wp-post-image" alt="Why Apple’s iPhone Event Needs a Huge Venue" />
                                            </a>
                                        </div>
                                        <header class="entry-header">
                                            <h5 class="entry-title">
                                                <a href="2015/11/07/why-apples-iphone-event-needs-a-huge-venue/index.html" rel="bookmark">Why Apple’s iPhone Event Needs a Huge Venue</a>
                                            </h5>
                                            <p class="entry-meta">
                                                <span class="entry-time">
                                                    <time class="entry-date published" datetime="2015-11-07T11:48:05+00:00">November 7, 2015</time>
                                                </span>
                                            </p>
                                        </header>
                                    </li>
                                </ul>
                            </div>
                            <!--Videolar-->
                            <!--lifestyle-->
                            <div class="gp-theprint-column-2">
                                <h4 class="gp-theprint-widget-title">
                                    <span style="background-color: ;">
                                        <a href="category/lifestyle/index.html">Lifestyle</a>
                                    </span>
                                </h4>
                                <ul>
                                    <li class="gp-theprint-homepage-2-post-c style-a">
                                        <div class="featured-image">
                                            <a href="2015/11/07/6-meat-coktails-that-are-only-for-the-brave/index.html">
                                                <img width="355" height="220" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/182-355x220.jpg" class="attachment-gp-theprint-355x220 size-gp-theprint-355x220 wp-post-image" alt="6 Meat Cocktails That Are Only for The Brave" />
                                            </a>
                                        </div>
                                        <header class="entry-header">
                                            <h5 class="entry-title">
                                                <a href="2015/11/07/6-meat-coktails-that-are-only-for-the-brave/index.html" rel="bookmark">6 Meat Cocktails That Are Only for The Brave</a>
                                            </h5>
                                            <p class="entry-meta">
                                                <span class="entry-time">
                                                    <time class="entry-date published" datetime="2015-11-07T11:58:30+00:00">November 7, 2015</time>
                                                </span>
                                            </p>
                                        </header>
                                    </li>
                                    <li class="gp-theprint-homepage-2-post-c style-b">
                                        <div class="featured-image">
                                            <a href="2015/11/07/malibu-reveals-19-tricks-to-having-the-best-summer-ever/index.html">
                                                <img width="110" height="85" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/110-110x85.jpg" class="attachment-gp-theprint-110x85 size-gp-theprint-110x85 wp-post-image" alt="Malibu Reveals 19 Tricks to Having The Best Summer Ever" />
                                            </a>
                                        </div>
                                        <header class="entry-header">
                                            <h5 class="entry-title">
                                                <a href="2015/11/07/malibu-reveals-19-tricks-to-having-the-best-summer-ever/index.html" rel="bookmark">Malibu Reveals 19 Tricks to Having The Best Summer Ever</a>
                                            </h5>
                                            <p class="entry-meta">
                                                <span class="entry-time">
                                                    <time class="entry-date published" datetime="2015-11-07T11:39:07+00:00">November 7, 2015</time>
                                                </span>
                                            </p>
                                        </header>
                                    </li>
                                    <li class="gp-theprint-homepage-2-post-c style-b">
                                        <div class="featured-image">
                                            <a href="2015/11/07/10-designs-fighting-the-devastating-effects-of-climate-change/index.html">
                                                <img width="110" height="85" src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/93-110x85.jpg" class="attachment-gp-theprint-110x85 size-gp-theprint-110x85 wp-post-image" alt="10 Designs Fighting The Devastating Effects of Climate Change" />
                                            </a>
                                        </div>
                                        <header class="entry-header">
                                            <h5 class="entry-title">
                                                <a href="2015/11/07/10-designs-fighting-the-devastating-effects-of-climate-change/index.html" rel="bookmark">10 Designs Fighting The Devastating Effects of Climate Change</a>
                                            </h5>
                                            <p class="entry-meta">
                                                <span class="entry-time">
                                                    <time class="entry-date published" datetime="2015-11-07T11:18:52+00:00">November 7, 2015</time>
                                                </span>
                                            </p>
                                        </header>
                                    </li>
                                </ul>
                            </div>
                            <!--lifestyle-->
                        </div>
                    </div>
                    <!--video &lifestyle-->
                </div>
            </div>
            <!--Yan alan trendler-->
            <aside class="gp-theprint-sidebar sticky-sidebar" itemscope itemtype="http://schema.org/WPSideBar">
                <div id="gp_theprint_trending_posts_e-1" class="gp-theprint-widget gp-theprint-trending-posts-e">
                    <h4 class="gp-theprint-widget-title">
                        <span style="background-color:#44c79d ;"> Trending Posts </span>
                    </h4>
                    <ul>
                        <li class="gp-theprint-trending-post-e">
                            <div class="entry-counter">
                                <span>1</span>
                            </div>
                            <div class="entry-header">
                                <h5 class="entry-title">
                                    <a href="2015/11/07/fanduel-and-draftkings-just-lost-a-big-payout-provider/index.html" rel="bookmark">FanDuel and DraftKings Just Lost a Big Payout Provider</a>
                                </h5>
                                <p class="entry-meta">
                                    <span class="entry-time">
                                        <time class="entry-date published" datetime="2015-11-07T11:56:31+00:00">November 7, 2015</time>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="gp-theprint-trending-post-e">
                            <div class="entry-counter">
                                <span>2</span>
                            </div>
                            <div class="entry-header">
                                <h5 class="entry-title">
                                    <a href="2015/11/07/noel-gallagher-to-host-new-radio-show-for-absolute-radio/index.html" rel="bookmark">Noel Gallagher to Host New Radio Show for Absolute Radio</a>
                                </h5>
                                <p class="entry-meta">
                                    <span class="entry-time">
                                        <time class="entry-date published" datetime="2015-11-07T11:46:40+00:00">November 7, 2015</time>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="gp-theprint-trending-post-e">
                            <div class="entry-counter">
                                <span>3</span>
                            </div>
                            <div class="entry-header">
                                <h5 class="entry-title">
                                    <a href="2015/11/07/malibu-reveals-19-tricks-to-having-the-best-summer-ever/index.html" rel="bookmark">Malibu Reveals 19 Tricks to Having The Best Summer Ever</a>
                                </h5>
                                <p class="entry-meta">
                                    <span class="entry-time">
                                        <time class="entry-date published" datetime="2015-11-07T11:39:07+00:00">November 7, 2015</time>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="gp-theprint-trending-post-e">
                            <div class="entry-counter">
                                <span>4</span>
                            </div>
                            <div class="entry-header">
                                <h5 class="entry-title">
                                    <a href="2015/11/07/10-designs-fighting-the-devastating-effects-of-climate-change/index.html" rel="bookmark">10 Designs Fighting The Devastating Effects of Climate Change</a>
                                </h5>
                                <p class="entry-meta">
                                    <span class="entry-time">
                                        <time class="entry-date published" datetime="2015-11-07T11:18:52+00:00">November 7, 2015</time>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="gp-theprint-trending-post-e">
                            <div class="entry-counter">
                                <span>5</span>
                            </div>
                            <div class="entry-header">
                                <h5 class="entry-title">
                                    <a href="2015/11/07/4-yummy-trail-mix-recipes-to-power-you-through-the-week/index.html" rel="bookmark">4 Yummy Trail Mix Recipes to Power You Through The Week</a>
                                </h5>
                                <p class="entry-meta">
                                    <span class="entry-time">
                                        <time class="entry-date published" datetime="2015-11-07T11:14:09+00:00">November 7, 2015</time>
                                    </span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="text-3" class="gp-theprint-widget widget_text">
                    <div class="textwidget">
                        <a href="#">
                            <img src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/ad.jpg" alt="ad-3" />
                        </a>
                    </div>
                </div>
            </aside>
            <!--Yan alan trendler-->
        </div>
        <!--ikinci content alanı-->
    </div>
</div>
