<footer class="gp-theprint-footer">
    <div class="gp-theprint-row">
        <div class="gp-theprint-footer-navigation-copyright">
            <nav class="gp-theprint-footer-navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                <div class="menu-footer-navigation-container">
                    <ul>
                        <li id="menu-item-770" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-770">
                            <a href="index.html">Homepage</a>
                        </li>
                        <li id="menu-item-771" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-771">
                            <a href="contact-page/index.html">Contact Us</a>
                        </li>
                        <li id="menu-item-772" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-772">
                            <a href="contributors-full-width-page/index.html">Site Authors</a>
                        </li>
                        <li id="menu-item-773" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-773">
                            <a href="google-wants-to-help-you-become-solar-powered/index.html">Typography</a>
                        </li>
                        <li id="menu-item-774" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-774">
                            <a href="boldr-voyage-smartwatch-looks-like-a-normal-watch-has-a-6-month-battery/index.html">Newsletter</a>
                        </li>
                        <li id="menu-item-775" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-775">
                            <a href="html-elements/index.html">Privacy Policy</a>
                        </li>
                        <li id="menu-item-776" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-776">
                            <a href="html-elements/index.html">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="gp-theprint-copyright">
                <p>
                    Copyright &copy; 2017. All Rights Reserved. Designed by
                    <a href="https://grovepixels.com/">GrovePixels.com</a>
                </p>
            </div>
        </div>
        <div class="gp-theprint-footer-icons-newsletter">
            <div class="gp-theprint-footer-icons">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-rss"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="gp-theprint-footer-newsletter">
                <form action="http://grovepixels.us8.list-manage.com/subscribe/post?u=f1565532d8cf66667f0c7503d&amp;id=777c9eb187" method="post" id="footer-mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <input type="email" value="Email address" name="EMAIL" class="required email" id="footer-mce-EMAIL">
                    <input type="submit" value="Subscribe" name="subscribe" id="footer-mc-embedded-subscribe" class="button">
                </form>
            </div>
        </div>
    </div>
</footer>
