<div class="gp-theprint-row">
    <div class="gp-theprint-top-ad">
        <a href="#">
            <img src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/top-ad.jpg" alt="ad-1" />
        </a>
    </div>
</div>
