<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="pingback" href="xmlrpc.php">
<title>@ViewBag.Title</title>
<meta name='robots' content='noindex,follow' />
<link rel="alternate" type="application/rss+xml" title="ThePrint &raquo; Feed" href="feed/index.html" />
<link rel="alternate" type="application/rss+xml" title="ThePrint &raquo; Comments Feed" href="comments/feed/index.html" />
<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/www.grovepixels.com\/demo\/theprint\/wp-includes\/js\/wp-emoji-release.min.js"}};
			!function(a,b,c){function d(a){var c,d=b.createElement("canvas"),e=d.getContext&&d.getContext("2d"),f=String.fromCharCode;return e&&e.fillText?(e.textBaseline="top",e.font="600 32px Arial","flag"===a?(e.fillText(f(55356,56806,55356,56826),0,0),d.toDataURL().length>3e3):"diversity"===a?(e.fillText(f(55356,57221),0,0),c=e.getImageData(16,16,1,1).data.toString(),e.fillText(f(55356,57221,55356,57343),0,0),c!==e.getImageData(16,16,1,1).data.toString()):("simple"===a?e.fillText(f(55357,56835),0,0):e.fillText(f(55356,57135),0,0),0!==e.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
</script>
<style type="text/css">
    img.wp-smiley, img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 .07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
    }
</style>
<link rel='stylesheet' id='contact-form-7-css' href='~/Content/wp-content/plugins/contact-form-7/includes/css/styles.css' type='text/css' media='all' />
<link rel='stylesheet' id='gp_theprint_google_fonts-css' href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700%2C400italic%2C700italic%7CPoppins%3A400%2C700&amp;subset=latin%2Clatin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='gp-theprint-main-style-css' href='~/Content/theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/themes/theprint/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='gp-theprint-font-awesome-css' href='~/Content/theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/themes/theprint/css/css/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='jetpack_css-css' href='~/Content/wp-content/plugins/jetpack/css/jetpack.css' type='text/css' media='all' />
<script type='text/javascript' src='~/Content/theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-includes/js/jquery/jquery.js'></script>
<script type='text/javascript' src='~/Content/theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-includes/js/jquery/jquery-migrate.min.js'></script>
<link rel='https://api.w.org/' href='~/Content/wp-json/index.html' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 4.4.2" />
<style type="text/css">
    a, a:hover, .entry-rating .rating-score-box .score-description .score-box .score-total, .entry-rating .rating-score-box .score-description .score-box .score-title {
        color: #689fce;
    }

    .entry-rating .rating-score-box .score-description .score-box {
        border: 4px solid #689fce;
    }

    .entry-rating .rating-breakdown .item .score-outer .score-line {
        background: #689fce;
    }

    .gp-theprint-recent-reviews-a ul li .featured-image .entry-review-badge, .gp-theprint-recent-reviews-b ul li .featured-image .entry-review-badge, .gp-theprint-recent-reviews-c ul li .featured-image .entry-review-badge, .gp-theprint-recent-reviews-d ul li .featured-image .entry-review-badge, .gp-theprint-recent-reviews-e ul li .entry-review-badge, .gp-theprint-recent-reviews-f ul li .entry-review-badge, .gp-theprint-recent-posts-e ul li .entry-counter, .gp-theprint-trending-posts-e ul li .entry-counter, .gp-theprint-recent-reviews-e ul li .entry-counter, .gp-theprint-recent-reviews-e ul li .entry-date-review-badge .entry-review-bar-overlay, .gp-theprint-recent-reviews-f ul li .entry-date-review-badge .entry-review-bar-overlay {
        background-color: #e6a87a;
    }

    .gp-theprint-site-header, .gp-theprint-search-bar {
        background-color: #444;
    }

    .gp-theprint-logo h1.site-title a, .gp-theprint-logo p.site-title a, .gp-theprint-logo h1.site-title a:hover, .gp-theprint-logo p.site-title a:hover, .gp-theprint-primary-navigation ul li a, .gp-theprint-primary-navigation ul li a:hover, .gp-theprint-header-icons ul li a, .gp-theprint-header-icons ul li a:hover {
        color: #fff;
    }

    button.menu-button span, button.menu-button span:hover {
        background-color: #fff;
    }

    .gp-theprint-site-header {
        background: #444;
    }

    .gp-theprint-site-header {
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
    }

    .gp-theprint-secondary-navigation {
        background-color: #e0e0e0;
    }

        .gp-theprint-secondary-navigation ul li a, .gp-theprint-secondary-navigation ul li a:hover {
            color: #444;
        }

    .gp-theprint-secondary-navigation {
        background-color: #e0e0e0;
    }

    .featured-post .entry-meta-category .entry-category a {
        background: none;
        border: 1px solid #fff;
        color: #fff;
        padding: 2px 5px;
    }

    .gp-theprint-staff-posts h4.gp-theprint-staff-posts-title {
        background-color: #444;
    }

    .gp-theprint-staff-posts h4.gp-theprint-staff-posts-title {
        color: #fff;
    }

    .gp-theprint-staff-posts h4.gp-theprint-staff-title {
        background-color: #444;
        background: -webkit-linear-gradient(55deg,#444 0%,#444 100%);
        background: linear-gradient(55deg,#444 0%,#444 100%);
    }

    .staff-post .entry-overlay {
        background: -moz-linear-gradient(rgba(0,0,0,0),#000000);
        background: -webkit-linear-gradient(rgba(0,0,0,0),#000000);
        background: linear-gradient(rgba(0,0,0,0),#000000);
        opacity: 0.85;
    }

    .staff-post .featured-image:hover .entry-overlay {
        opacity: 1;
    }

    .staff-post .entry-meta-category {
        margin-bottom: 0.313rem;
    }

        .staff-post .entry-meta-category .entry-category a {
            color: #fff;
        }

    .hentry .entry-title a, .gp-theprint-widget h5.entry-title a, .entry-related-posts .entry-related-post h5 a, .entry-recent-posts .entry-recent-post h5 a, .gp-theprint-primary-navigation ul li div.sub-menu ul.sub-posts li a.entry-title, .gp-theprint-secondary-navigation ul li div.sub-menu ul.sub-posts li a.entry-title {
        color: #444;
    }

        .hentry .entry-title a:hover, .gp-theprint-widget h5.entry-title a:hover, .entry-related-posts .entry-related-post h5 a:hover, .entry-recent-posts .entry-recent-post h5 a:hover, .gp-theprint-primary-navigation ul li div.sub-menu ul.sub-posts li a:hover.entry-title, .gp-theprint-secondary-navigation ul li div.sub-menu ul.sub-posts li a:hover.entry-title {
            color: #666;
        }

    .hentry.front-post .entry-meta a, .hentry.front-post .entry-meta a:hover {
        color: #bebebe;
    }

    .hentry.front-post .entry-meta-category {
        font-size: 0.813rem;
    }

        .hentry.front-post .entry-meta-category a, .hentry.front-post .entry-meta-category a:hover {
            padding: 1px 5px;
        }

    .hentry.front-post .entry-meta a, .hentry.front-post .entry-meta a:hover {
        color: #bebebe;
    }

    .featured-image .entry-share {
        top: 2px;
        right: 1px;
    }

        .featured-image .entry-share ul li a {
            display: inline-block;
            background-color: #fff;
            color: #000;
            width: 26px;
            height: 26px;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            text-decoration: none;
            text-shadow: none;
        }

            .featured-image .entry-share ul li a:hover {
                color: #333;
                text-decoration: none;
            }

    .gp-theprint-ajax-loading-button a {
        background-color: #444;
    }

    .gp-theprint-ajax-loading-button a {
        color: #444;
    }

    .gp-theprint-ajax-loading-button a {
        background: none;
        border: 2px solid #444;
        line-height: 2.875rem;
    }

        .gp-theprint-ajax-loading-button a:hover {
            background-color: #444;
            border: 2px solid #444;
            color: #fff;
        }

    .gp-theprint-homepage-newsletter .newsletter-content form input[type="submit"], .gp-theprint-homepage-newsletter .newsletter-content form input[type="button"], .gp-theprint-homepage-newsletter .newsletter-content form button {
        background-color: #e6a87a;
    }

    .gp-theprint-newsletter-widget input[type="submit"], .gp-theprint-newsletter-widget input[type="button"], .gp-theprint-newsletter-widget button {
        background-color: #e6a87a;
        color: #fff;
    }

        .gp-theprint-newsletter-widget input[type="submit"]:hover, .gp-theprint-newsletter-widget input[type="button"]:hover, .gp-theprint-newsletter-widget button:hover {
            background: #333;
            color: #fff;
        }

    h4.gp-theprint-widget-title span {
        background-color:;
    }

    h4.gp-theprint-widget-title, h4.gp-theprint-widget-title a, h4.gp-theprint-widget-title a:hover {
        color:;
    }

        h4.gp-theprint-widget-title span {
            background:;
        }

    h1.gp-theprint-page-title span, h4.gp-theprint-page-title span, .gp-theprint-homepage-widget-area-1 h4.gp-theprint-widget-title span, .gp-theprint-homepage-widget-area-2 h4.gp-theprint-widget-title span, .gp-theprint-homepage-widget-area-3 h4.gp-theprint-widget-title span {
        background-color:;
    }

    h1.gp-theprint-page-title, h4.gp-theprint-page-title, .gp-theprint-homepage-widget-area-1 h4.gp-theprint-widget-title, .gp-theprint-homepage-widget-area-1 h4.gp-theprint-widget-title a, .gp-theprint-homepage-widget-area-1 h4.gp-theprint-widget-title a:hover, .gp-theprint-homepage-widget-area-2 h4.gp-theprint-widget-title, .gp-theprint-homepage-widget-area-2 h4.gp-theprint-widget-title a, .gp-theprint-homepage-widget-area-2 h4.gp-theprint-widget-title a:hover, .gp-theprint-homepage-widget-area-3 h4.gp-theprint-widget-title, .gp-theprint-homepage-widget-area-3 h4.gp-theprint-widget-title a, .gp-theprint-homepage-widget-area-3 h4.gp-theprint-widget-title a:hover {
        color:;
    }

        h1.gp-theprint-page-title span, h4.gp-theprint-page-title span, .gp-theprint-homepage-widget-area-1 h4.gp-theprint-widget-title span, .gp-theprint-homepage-widget-area-2 h4.gp-theprint-widget-title span, .gp-theprint-homepage-widget-area-3 h4.gp-theprint-widget-title span {
            background:;
        }

    h4.gp-theprint-block-title, .comment-title h3, #respond h3#reply-title {
        border-color: #f2f3f4;
    }

    .gp-theprint-footer {
        background-color: #444;
    }

        .gp-theprint-footer, .gp-theprint-footer a, .gp-theprint-footer a:hover, .gp-theprint-footer-navigation ul li a, .gp-theprint-footer-navigation ul li a:hover, .gp-theprint-footer-icons ul li a, .gp-theprint-footer-icons ul li a:hover {
            color: #fff;
        }

    .gp-theprint-footer {
        background-color: #444;
        border-top: 1px solid #dbdbdb;
    }

    .entry-single.style-a .single-entry-meta-category a, .entry-single.style-a .single-entry-meta-category a:hover, .entry-single.style-b .single-entry-meta-category a, .entry-single.style-b .single-entry-meta-category a:hover {
        padding: 2px 8px;
    }

    .entry-single.style-a .entry-meta a, .entry-single.style-a .entry-meta a:hover, .entry-single.style-b .entry-meta a, .entry-single.style-b .entry-meta a:hover {
        color: #bebebe;
    }

    .entry-recent-post .entry-meta-category {
        font-size: 0.813rem;
    }

        .entry-recent-post .entry-meta-category a, .entry-recent-post .entry-meta-category a:hover {
            padding: 1px 5px;
        }

    body {
        background-color: #f3f4f5;
    }
</style>
<link href='https://fonts.googleapis.com/css?family=Poppins:400,700' rel='stylesheet' type='text/css'>
<style type="text/css">
    .gp-theprint-logo h1.site-title, .gp-theprint-logo p.site-title {
        font-family: 'Poppins',sans-serif;
    }

    .gp-theprint-logo h1.site-title, .gp-theprint-logo p.site-title {
        font-weight: 700;
    }

    .gp-theprint-logo h1.site-title, .gp-theprint-logo p.site-title {
        font-weight: 700;
    }

    .gp-theprint-logo h1.site-title, .gp-theprint-logo p.site-title {
        text-transform: default;
    }

    .gp-theprint-logo h1.site-title, .gp-theprint-logo p.site-title {
        letter-spacing: -2px;
    }

    .gp-theprint-primary-navigation {
        font-family: 'Poppins',sans-serif;
    }

    .gp-theprint-primary-navigation {
        font-weight: 700;
    }

    .gp-theprint-primary-navigation {
        text-transform: default;
    }

    .gp-theprint-primary-navigation {
        letter-spacing: 0px;
    }

    .gp-theprint-secondary-navigation {
        font-family: 'Poppins',sans-serif;
    }

    .gp-theprint-secondary-navigation {
        font-weight: 700;
    }

    .gp-theprint-secondary-navigation {
        text-transform: default;
    }

    .gp-theprint-secondary-navigation {
        letter-spacing: 0px;
    }

    .gp-theprint-footer-navigation {
        font-weight: 700;
    }

    .gp-theprint-footer-navigation {
        text-transform: default;
    }

    .gp-theprint-footer-navigation {
        letter-spacing: 0px;
    }

    h1, h2, h3, h4, h5, h6, button, input[type="button"], input[type="reset"], input[type="submit"], .entry-rating .rating-score-box .score-description .score-box .score-total, .entry-rating .rating-score-box .score-description .score-box .score-title, .gp-theprint-pagination {
        font-family: 'Poppins',sans-serif;
    }

    h1, h2, h3, h4, h5, h6, .gp-theprint-primary-navigation ul li div.sub-menu ul.sub-posts li a.entry-title, .gp-theprint-pagination {
        font-weight: 700;
    }

    h1, h2, h3, h4, h5, h6, .gp-theprint-primary-navigation ul li div.sub-menu ul.sub-posts li a.entry-title, .gp-theprint-pagination {
        text-transform: none;
    }

    h1, h2, h3, h4, h5, h6, button, input[type="button"], input[type="reset"], input[type="submit"], .gp-theprint-primary-navigation ul li div.sub-menu ul.sub-posts li a.entry-title, .gp-theprint-pagination {
        line-height: 1.3;
    }

    h1, h2, h3, h4, h5, h6, .gp-theprint-primary-navigation ul li div.sub-menu ul.sub-posts li a.entry-title, .gp-theprint-pagination {
        letter-spacing: 0px;
    }

    .featured-post h2.entry-title {
        font-weight: 700;
    }

    .featured-post h2.entry-title {
        text-transform: default;
    }

    .featured-post .entry-description {
        text-align: left;
    }

    .featured-post h2.entry-title {
        letter-spacing: -0.5px;
    }

    .gp-theprint-staff-post h2.entry-title {
        font-weight: 700;
    }

    .gp-theprint-staff-post h2.entry-title {
        text-transform: uppercase;
    }

    .gp-theprint-staff-post .entry-description {
        text-align: left;
    }

    .gp-theprint-staff-post h2.entry-title {
        letter-spacing: -0.5px;
    }

    .entry-meta-category {
        font-family: 'Poppins',sans-serif;
    }

    .entry-meta-category {
        font-weight: 700;
    }

    .entry-meta-category {
        text-transform: default;
    }

    .entry-meta {
        font-weight: 400;
    }

    .entry-meta {
        text-transform: default;
    }

    h1.entry-title {
        font-weight: 700;
    }

    h1.entry-title {
        text-transform: default;
    }

    h1.entry-title {
        letter-spacing: 0;
    }
</style>

