<div class="gp-theprint-site-header header-a">
    <div class="gp-theprint-row">
        <div class="gp-theprint-wrap">
            <div class="gp-theprint-menu-button">
                <button id="open-button" class="menu-button">
                    <span class="top"></span>
                    <span class="mid"></span>
                    <span class="bot"></span>
                </button>
            </div>
            <div class="gp-theprint-logo">
                <h1 class="site-logo" itemprop="headline">
                    <a rel="home" href="index.html">
                        <img src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2016/02/theprint-logo-1.png" alt="ThePrint">
                        <span style="display:none;">ThePrint</span>
                    </a>
                </h1>
                <p class="site-description" itemprop="description">Just another WordPress site</p>
            </div>
            <nav class="gp-theprint-primary-navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
                <div class="menu-primary-navigation-container">
                    <ul>
                        <li id="menu-item-697" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children">
                            <a href="index.html">Homepage</a>
                            <ul class="sub-links">
                                <li id="menu-item-698" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                                    <a href="index.html">ThePrint 1</a>
                                </li>
                                <li id="menu-item-699" class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="theprint-2/index.html">ThePrint 2</a>
                                </li>
                                <li id="menu-item-700" class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="theprint-3/index.html">ThePrint 3</a>
                                </li>
                                <li id="menu-item-701" class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="theprint-4/index.html">ThePrint 4</a>
                                </li>
                                <li id="menu-item-702" class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="theprint-5/index.html">ThePrint 5</a>
                                </li>
                                <li id="menu-item-703" class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="theprint-6/index.html">ThePrint 6</a>
                                </li>
                                <li id="menu-item-704" class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="theprint-7/index.html">ThePrint 7</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-705" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children">
                            <a href="#">Features</a>
                            <ul class="sub-links">
                                <li id="menu-item-706" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children">
                                    <a href="#">Featured Posts</a>
                                    <ul class="sub-links">
                                        <li id="menu-item-707" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="theprint-2/index.html">Featured Posts A</a>
                                        </li>
                                        <li id="menu-item-708" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="theprint-7/index.html">Featured Posts B</a>
                                        </li>
                                        <li id="menu-item-709" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="theprint-3/index.html">Featured Posts C</a>
                                        </li>
                                        <li id="menu-item-710" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="theprint-4/index.html">Featured Posts D</a>
                                        </li>
                                        <li id="menu-item-711" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="theprint-6/index.html">Featured Posts E</a>
                                        </li>
                                        <li id="menu-item-712" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                                            <a href="index.html">Featured Posts F</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-713" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children">
                                    <a href="#">Front Posts</a>
                                    <ul class="sub-links">
                                        <li id="menu-item-714" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                                            <a href="index.html">Front Posts 1</a>
                                        </li>
                                        <li id="menu-item-715" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="theprint-2/index.html">Front Posts 2</a>
                                        </li>
                                        <li id="menu-item-716" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="theprint-3/index.html">Front Posts 3</a>
                                        </li>
                                        <li id="menu-item-717" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="theprint-4/index.html">Front Posts 4</a>
                                        </li>
                                        <li id="menu-item-718" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="theprint-5/index.html">Front Posts 5</a>
                                        </li>
                                        <li id="menu-item-719" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="theprint-6/index.html">Front Posts 6</a>
                                        </li>
                                        <li id="menu-item-720" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="theprint-7/index.html">Front Posts 7</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-721" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                    <a href="#">Single Posts</a>
                                    <ul class="sub-links">
                                        <li id="menu-item-722" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="mean-girls-the-game-formulas-and-more/index.html">Single Post A</a>
                                        </li>
                                        <li id="menu-item-723" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="6-meat-coktails-that-are-only-for-the-brave/index.html">Single Post B</a>
                                        </li>
                                        <li id="menu-item-724" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="an-artisanal-ice-cream-shop-in-venice-beach/index.html">Single Post C</a>
                                        </li>
                                        <li id="menu-item-725" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="vacation-home-spotlights-swedish-sauna-ritual/index.html">Single Post D</a>
                                        </li>
                                        <li id="menu-item-726" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="one-more-beer/index.html">Single Post E</a>
                                        </li>
                                        <li id="menu-item-727" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="why-use-a-whole-plane-when-you-can-fly-one-wing/index.html">Single Post F</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-728" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                    <a href="#">Post Formats</a>
                                    <ul class="sub-links">
                                        <li id="menu-item-729" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="mean-girls-the-game-formulas-and-more/index.html">Standard Post</a>
                                        </li>
                                        <li id="menu-item-730" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="why-dxomark-does-not-test-fujifilm-cameras/index.html">Review Post</a>
                                        </li>
                                        <li id="menu-item-731" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="fanduel-and-draftkings-just-lost-a-big-payout-provider/index.html">Gallery Post</a>
                                        </li>
                                        <li id="menu-item-732" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="more-stuff-blue-zoo-animation/index.html">Video Post</a>
                                        </li>
                                        <li id="menu-item-733" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="maroon5-make-me-wonder-summer-set/index.html">Audio Post</a>
                                        </li>
                                        <li id="menu-item-734" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="google-wants-to-help-you-become-solar-powered/index.html">Typography</a>
                                        </li>
                                        <li id="menu-item-735" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="mean-girls-the-game-formulas-and-more/index.html">Post With Comments</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-736" class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="theprint-2/index.html">Default Pagination</a>
                                </li>
                                <li id="menu-item-737" class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="theprint-5/index.html">Infinite Scroll</a>
                                </li>
                                <li id="menu-item-738" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                                    <a href="index.html">Scroll Load Button</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-739" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="#">All Pages</a>
                            <ul class="sub-links">
                                <li id="menu-item-740" class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="author/grovepixels/index.html">Author Page</a>
                                </li>
                                <li id="menu-item-741" class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="contributors-page/index.html">Team Page</a>
                                </li>
                                <li id="menu-item-742" class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="contributors-full-width-page/index.html">Team Page Full Width</a>
                                </li>
                                <li id="menu-item-743" class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="full-width-page/index.html">Full Width Page</a>
                                </li>
                                <li id="menu-item-744" class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="html-elements/index.html">HTML Elements</a>
                                </li>
                                <li id="menu-item-745" class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="contact-page/index.html">Contact Page</a>
                                </li>
                                <li id="menu-item-746" class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="ewqeqwe.html">404 Page</a>
                                </li>
                                <li id="menu-item-747" class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="index3c9e.html?post_type=post&amp;s=The">Search Results</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-748" class="menu-item menu-item-type-taxonomy menu-item-object-category">
                            <a href="category/technology/index.html">Mega Menu</a>
                            <div class="sub-menu">
                                <ul class="sub-posts">
                                    <li>
                                        <div class="featured-image">
                                            <a class="featured-image-link" href="2015/11/07/mean-girls-the-game-formulas-and-more/index.html">
                                                <img src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/105-355x220.jpg" alt="Mean Girls: The Game, Formulas and More" width="355" height="220" />
                                            </a>
                                        </div>
                                        <h5>
                                            <a class="entry-title" href="2015/11/07/mean-girls-the-game-formulas-and-more/index.html">Mean Girls: The Game, Formulas and More</a>
                                        </h5>
                                        <p class="entry-meta">November 7, 2015</p>
                                    </li>
                                    <li>
                                        <div class="featured-image">
                                            <a class="featured-image-link" href="2015/11/07/fanduel-and-draftkings-just-lost-a-big-payout-provider/index.html">
                                                <img src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/100-355x220.jpg" alt="FanDuel and DraftKings Just Lost a Big Payout Provider" width="355" height="220" />
                                            </a>
                                        </div>
                                        <h5>
                                            <a class="entry-title" href="2015/11/07/fanduel-and-draftkings-just-lost-a-big-payout-provider/index.html">FanDuel and DraftKings Just Lost a Big Payout Provider</a>
                                        </h5>
                                        <p class="entry-meta">November 7, 2015</p>
                                    </li>
                                    <li>
                                        <div class="featured-image">
                                            <a class="featured-image-link" href="2015/11/07/why-apples-iphone-event-needs-a-huge-venue/index.html">
                                                <img src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/64-355x220.jpg" alt="Why Apple’s iPhone Event Needs a Huge Venue" width="355" height="220" />
                                            </a>
                                        </div>
                                        <h5>
                                            <a class="entry-title" href="2015/11/07/why-apples-iphone-event-needs-a-huge-venue/index.html">Why Apple’s iPhone Event Needs a Huge Venue</a>
                                        </h5>
                                        <p class="entry-meta">November 7, 2015</p>
                                    </li>
                                    <li>
                                        <div class="featured-image">
                                            <a class="featured-image-link" href="2015/11/07/snapchat-challenges-twitter-and-facebook-for-sports-talk/index.html">
                                                <img src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/1151-355x220.jpg" alt="Snapchat Challenges Twitter And Facebook For Sports Talk" width="355" height="220" />
                                            </a>
                                        </div>
                                        <h5>
                                            <a class="entry-title" href="2015/11/07/snapchat-challenges-twitter-and-facebook-for-sports-talk/index.html">Snapchat Challenges Twitter And Facebook For Sports Talk</a>
                                        </h5>
                                        <p class="entry-meta">November 7, 2015</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li id="menu-item-749" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children">
                            <a href="category/lifestyle/index.html">Mega Menu 2</a>
                            <div class="sub-menu">
                                <ul class="sub-posts">
                                    <li>
                                        <div class="featured-image">
                                            <a class="featured-image-link" href="2015/11/07/6-meat-coktails-that-are-only-for-the-brave/index.html">
                                                <img src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/182-355x220.jpg" alt="6 Meat Cocktails That Are Only for The Brave" width="355" height="220" />
                                            </a>
                                        </div>
                                        <h5>
                                            <a class="entry-title" href="2015/11/07/6-meat-coktails-that-are-only-for-the-brave/index.html">6 Meat Cocktails That Are Only for The Brave</a>
                                        </h5>
                                        <p class="entry-meta">November 7, 2015</p>
                                    </li>
                                    <li>
                                        <div class="featured-image">
                                            <a class="featured-image-link" href="2015/11/07/malibu-reveals-19-tricks-to-having-the-best-summer-ever/index.html">
                                                <img src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/110-355x220.jpg" alt="Malibu Reveals 19 Tricks to Having The Best Summer Ever" width="355" height="220" />
                                            </a>
                                        </div>
                                        <h5>
                                            <a class="entry-title" href="2015/11/07/malibu-reveals-19-tricks-to-having-the-best-summer-ever/index.html">Malibu Reveals 19 Tricks to Having The Best Summer Ever</a>
                                        </h5>
                                        <p class="entry-meta">November 7, 2015</p>
                                    </li>
                                    <li>
                                        <div class="featured-image">
                                            <a class="featured-image-link" href="2015/11/07/10-designs-fighting-the-devastating-effects-of-climate-change/index.html">
                                                <img src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/93-355x220.jpg" alt="10 Designs Fighting The Devastating Effects of Climate Change" width="355" height="220" />
                                            </a>
                                        </div>
                                        <h5>
                                            <a class="entry-title" href="2015/11/07/10-designs-fighting-the-devastating-effects-of-climate-change/index.html">10 Designs Fighting The Devastating Effects of Climate Change</a>
                                        </h5>
                                        <p class="entry-meta">November 7, 2015</p>
                                    </li>
                                    <li>
                                        <div class="featured-image">
                                            <a class="featured-image-link" href="2015/11/07/4-yummy-trail-mix-recipes-to-power-you-through-the-week/index.html">
                                                <img src="../../../theprint.grovepixels1.netdna-cdn.com/demo/theprint/wp-content/uploads/2015/11/127-355x220.jpg" alt="4 Yummy Trail Mix Recipes to Power You Through The Week" width="355" height="220" />
                                            </a>
                                        </div>
                                        <h5>
                                            <a class="entry-title" href="2015/11/07/4-yummy-trail-mix-recipes-to-power-you-through-the-week/index.html">4 Yummy Trail Mix Recipes to Power You Through The Week</a>
                                        </h5>
                                        <p class="entry-meta">November 7, 2015</p>
                                    </li>
                                </ul>
                                <ul class="sub-links">
                                    <li id="menu-item-752" class="menu-item menu-item-type-taxonomy menu-item-object-category">
                                        <a href="category/fashion/index.html">Fashion</a>
                                        <div class="sub-menu"></div>
                                    </li>
                                    <li id="menu-item-753" class="menu-item menu-item-type-taxonomy menu-item-object-category">
                                        <a href="category/technology/index.html">Technology</a>
                                        <div class="sub-menu"></div>
                                    </li>
                                    <li id="menu-item-754" class="menu-item menu-item-type-taxonomy menu-item-object-category">
                                        <a href="category/video/index.html">Video</a>
                                        <div class="sub-menu"></div>
                                    </li>
                                    <li id="menu-item-750" class="menu-item menu-item-type-taxonomy menu-item-object-category">
                                        <a href="category/photography/index.html">Photography</a>
                                        <div class="sub-menu"></div>
                                    </li>
                                    <li id="menu-item-751" class="menu-item menu-item-type-taxonomy menu-item-object-category">
                                        <a href="category/architecture/index.html">Architecture</a>
                                        <div class="sub-menu"></div>
                                    </li>
                                    <li id="menu-item-755" class="menu-item menu-item-type-taxonomy menu-item-object-category">
                                        <a href="category/design/index.html">Design</a>
                                        <div class="sub-menu"></div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="gp-theprint-header-icons">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-google"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-rss"></i>
                        </a>
                    </li>
                    <li class="search-icon">
                        <a href="#" id="gp-theprint-search-trigger">
                            <i class="fa fa-search"></i>
                        </a>
                        <div class="gp-theprint-search-bar">
                            <form class="gp-theprint-search-form" method="get" action="http://www.grovepixels.com/demo/theprint/">
                                <input type="hidden" id="post_type" name="post_type" value="post" />
                                <input type="text" id="search" name="s" placeholder="Search..." />
                                <button type="submit" id="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
