
<nav id="mobile-menu" class="gp-theprint-mobile-menu">
    <div class="menu-mobile-navigation-container">
        <ul>
            @*
                <li id="menu-item-777" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-777">
                    <a href="index.html">Homepage</a>
                </li>*@
            <li id="menu-item-778" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-778">
                <a href="category/design/index.html">Design</a>
            </li>
            <li id="menu-item-779" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-779">
                <a href="category/architecture/index.html">Architecture</a>
            </li>
            <li id="menu-item-780" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-780">
                <a href="category/fashion/index.html">Fashion</a>
            </li>
            <li id="menu-item-781" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-781">
                <a href="category/lifestyle/index.html">Lifestyle</a>
            </li>
            <li id="menu-item-782" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-782">
                <a href="category/music/index.html">Music</a>
            </li>
            <li id="menu-item-783" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-783">
                <a href="category/photography/index.html">Photography</a>
            </li>
            <li id="menu-item-784" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-784">
                <a href="category/technology/index.html">Technology</a>
            </li>
            <li id="menu-item-785" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-785">
                <a href="category/video/index.html">Video</a>
            </li>
            <li id="menu-item-786" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-786">
                <a href="contact-page/index.html">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>