<div class="gp-theprint-search-mobile">
    <form class="gp-theprint-search-form" method="get" action="http://www.grovepixels.com/demo/theprint/">
        <input type="hidden" id="post_type-mobile" name="post_type" value="post" />
        <input type="text" id="search-mobile" name="s" placeholder="Search..." />
        <button type="submit" id="button-mobile">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>
