<div class="gp-theprint-row">
    <nav class="gp-theprint-secondary-navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <div class="gp-theprint-wrap">
            <div class="menu-secondary-navigation-container">
                <ul>
                    <li id="menu-item-756" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-756">
                        <a href="index.html">Homepage</a>
                    </li>
                    <li id="menu-item-757" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-757">
                        <a href="tag/fashion/index.html">#Fashion</a>
                    </li>
                    <li id="menu-item-758" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-758">
                        <a href="tag/lifestyle/index.html">#Lifestyle</a>
                        <ul class="sub-menu">
                            <li id="menu-item-759" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-759">
                                <a href="#">Drop Menu 1</a>
                            </li>
                            <li id="menu-item-760" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-760">
                                <a href="#">Drop Menu 1</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-762" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-762">
                                        <a href="#">Drop Menu 2</a>
                                    </li>
                                    <li id="menu-item-763" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-763">
                                        <a href="#">Drop Menu 2</a>
                                    </li>
                                    <li id="menu-item-764" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-764">
                                        <a href="#">Drop Menu 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-761" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-761">
                                <a href="#">Drop Menu 1</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-765" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-765">
                        <a href="tag/technology/index.html">#Technology</a>
                    </li>
                    <li id="menu-item-766" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-766">
                        <a href="tag/video/index.html">#Video</a>
                    </li>
                    <li id="menu-item-767" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-767">
                        <a href="tag/design/index.html">#Design</a>
                    </li>
                    <li id="menu-item-768" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-768">
                        <a href="tag/music/index.html">#Music</a>
                    </li>
                    <li id="menu-item-769" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-769">
                        <a href="tag/photography/index.html">#Photography</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
