@model HaberSis.Data.Model.MenuTip
@{
    ViewBag.Title = "MenuTipEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <!-- Basic form -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class="panel-heading">@ViewBag.Title</header>
                <div class="panel-body">
                   @using (Html.BeginForm("MenuTipEkle","Menu",FormMethod.Post, new {  id = "MenuTipForm" }))
                   {

                  
                        @*<div class="form-group">
                                <label for="exampleInputEmail1">Üst Kategori Adı</label>
                                @Html.DropDownListFor(model => model.Kategori.KategoriAdi, new SelectList(ViewBag.Kategori, "ID", "KategoriAdi"), ("Seçiniz"), new { @class = "form-control", id = "ParentID" })
                            </div>*@
                        @*<div class="form-group">
                                <label for="exampleInputEmail1">Haber Başlığı</label>
                                <input type="text" class="form-control" id="haberBaslik" placeholder="Haber Başlığı">
                            </div>*@

                       
                        <div class="form-group">
                            <label for="Baslik">Tip Adı</label>
                            @Html.TextBoxFor(x => x.TipAdi, new { @class = "form-control", id = "Baslik", placeholder = "Tip Adı" })
                        </div>
                       

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"  id="HaberAktif"> Aktif Mi
                            </label>
                        </div>
                        @*<a href="#" class="btn btn-default" onclick="HaberEkle()">Kaydet</a>*@
                        <button type="submit" class="btn btn-default" id="MenuTipEkleBtn">Kaydet</button>
                   }
                 
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function ()
    {
        $(document).on("click", "#MenuTipEkleBtn ", function ()
        {
            $("#MenuTipForm").ajaxForm(
                {
                    success: function (response) {
                        if (response.Success) {
                            bootbox.alert(response.Message, function () {
                                @*location.href(@Url.Action("MenuTipListele","Menu"));*@
                            });
                        }
                        else {
                            bootbox.alert(response.Message, function () { });
                        }
                    }

                })

        })
    })
</script>